snippet function "" b
function ${1:name}(${2:param})
    ${VISUAL}$0
end
endsnippet

snippet forp "" b
for ${1:k}, ${2:v} in pairs(${3:array}) do
    ${VISUAL}$0
end
endsnippet

snippet if "" b
if ${1:cond} then
    ${VISUAL}$0
end
endsnippet

snippet todo "" b
-- TODO: ${1:desc} (`!v strftime("%c")`)

$0
endsnippet

snippet output "" b
--[[
    ${1:desc} (`!v strftime("%c")`)
    current output :
    `!v system("lua " . expand('%:p'))`
--]]

$0
endsnippet
