snippet const "" b
const ${1:x}:${2:any} = ${3}
endsnippet

snippet let "" b
let ${1:x}:${2:any} = ${3}
endsnippet

snippet if "" b
if ($1) {
    ${VISUAL}$2
}
endsnippet

snippet todo "" b
// TODO: ${1:desc} (`!v strftime("%c")`)
endsnippet

snippet fori "" b
for (let i = ${1:0}; i < ${2:${VISUAL}count}; i++) {
    $0
}
endsnippet

snippet fore "" b
for (let e = ${1:0}; e < ${2:${VISUAL}count}; e++) {
    $0
}
endsnippet
